article {
    header h1 {
        font-size: 2rem;
        color: #555;
        // margin-bottom: 0.32em;
    }

    .meta {
        margin-top: 0;
        margin-bottom: 0.75rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        // line-height: 1.5;
    }

    li {
        // line-height: 1.7;
    }
}

h2 code {
    font-size: 1.4em; // For the rust article
}

.author {
    display: block;
}

.entry-content {
    margin: 2rem 8px 3rem;

    > h2 > a,
    > h3 > a {
        text-decoration: none;
        color: #333;
    }

    > h2:hover > a::after,
    > h3:hover > a::after {
        content: ' #';
    }
}

.related {
    margin-top: 2rem;

    + h2 a {
        text-decoration: none;
    }
}

.gh-link {
    font-family: $sans;
    display: block;
    margin-top: 3rem;
}

.gh-link svg {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    padding-right: 5px;
}

// .big-letter::first-letter {
//     font-size: 3.3em;
//     float: left;
//     padding-top: 7px;
//     margin-right: 7px;
//     opacity: .9;
// }

@import "article_cta";
@import "subscribe_form";