article blockquote { font-style:normal }
article small { opacity:.8 }
article cite, article figcaption { opacity:.6; font-size:60% }
article figcaption { text-align: center; }

article {
    header h1 {
        font-size: 2rem;
        color: #555;
        // margin-bottom: 0.32em;
    }

    h1 a:not(:hover) {
        text-decoration: underline transparent;
    }

    .meta {
        // margin-top: 0;
        margin-bottom: 0.75rem;
    }

    a {
        text-decoration: underline;
        transition: text-decoration .3s, text-underline-offset .3s;

        &:not(:hover) {
            text-underline-offset: .3em;
        }
    }

    // external links
    a[href*="//"]:not([href*="simonewebdesign.it"])::after {
        $icon: "data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 3.5v11h11V10H14v5c0 .5523-.4477 1-1 1H1c-.552284 0-1-.4477-1-1V3c0-.55228.447715-1 1-1h5v1.5H1.5Z' fill='%23FBFBFE'/%3e%3cpath d='M15.9217 1.17828 7.01473 10.0853 5.95407 9.02462 14.8611.117624l1.0606 1.060656Z' fill='%23FBFBFE'/%3e%3cpath d='M7.5 0H16v1.5H7.5V0Z' fill='%23FBFBFE'/%3e%3cpath d='M16 0v8.5h-1.5V-7e-8L16 0Z' fill='%23FBFBFE'/%3e%3c/svg%3e";
        // vertical-align: super;
        background-color: var(--text-primary);
        content: '';
        display: inline-flex;
        height: 10px;
        margin-left: 0.15rem;
        -webkit-mask-image: url($icon);
        mask-image: url($icon);
        -webkit-mask-size: cover;
        mask-size: cover;
        width: 10px;
    }

    p {
        // line-height: 1.5;
        // These margins are different from the default of 1em, but give the "right" breathing between paragraphs such that text actually sits on the baseline
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    li {
        // line-height: 1.7;
    }
}

// h2 code {
//     font-size: 1.4em; // For the rust article
// }

.author {
    display: block;
}

.entry-content {
    margin: 1.5rem 0 3rem;

    > h2 > a,
    > h3 > a {
        text-decoration: none;
        color: #333;
    }

    // the heading symbol
    > h2 > a::before,
    > h3 > a::before {
        content: '§';
        position: absolute;
        margin-left: -0.5rem;
        opacity: 0;
        transition: all .3s;
        padding-right: 2rem;
    }

    > h2 > a:hover::before,
    > h3 > a:hover::before {
        opacity: 1;
        color: inherit;
        margin-left: -1rem;

        @media (min-width: 768px) {
            margin-left: -1.5rem;
        }
    }
}

.related {
    margin-top: 2rem;

    + h2 a {
        text-decoration: none;
    }
}

.gh-link {
    font-family: $sans;
    display: block;
    margin-top: 3rem;
}

.gh-link svg {
    width: 24px;
    height: 24px;
    vertical-align: sub;
    padding-right: .5rem;
}

// .big-letter::first-letter {
//     font-size: 3.3em;
//     float: left;
//     padding-top: 7px;
//     margin-right: 7px;
//     opacity: .9;
// }

@import "article_cta";
@import "subscribe_form";