article {
    header h1 {
        font-size: 2.2rem;
        color: #555;
        margin-bottom: 0.32em;
    }

    header time {
        color: #aaa;

    }

    .meta {
        margin-top: 0;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h2 code {
    font-size: 1.4em; // For the rust article
}

.author {
    display: block;
}

.entry-content {
    margin: 2rem 8px 3rem;
}

// .big-letter::first-letter {
//     font-size: 3.3em;
//     float: left;
//     padding-top: 7px;
//     margin-right: 7px;
//     opacity: .9;
// }

@import "article_cta";
@import "subscribe_form";