body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $sans;
    border-bottom: 2px solid rgba(170, 170, 170, 0.5);
    max-width: 640px;
    padding: 0.6rem 0;
    margin: auto;
    max-height: 6rem; /* 132px. Just forcing the browser to not render subpixel. */

    a:visited {
        color: inherit;
    }

    @media (min-width: 680px) {
        padding-top: 2.1rem;
    }
}

@media (min-width: 365px) {
    body > header > a {
        font-size: 1.4rem;
    }
}