// The Logo
[role="banner"] {
    color: $border-color;
    font-weight: normal; // inherit;
    text-align: center;
    // margin-top: 1em; // exception for the global 1.6em

    a,
    a:hover,
    a:visited {
        color: inherit;
    }
}