// The Logo
[role="banner"] {
    color: $border-color;
    font-weight: normal;
    text-align: center;

    h1 {
        margin-top: 1em; // exception for the global 1.6em
        font-weight: inherit;
    }

    a,
    a:hover,
    a:visited {
        color: inherit;
    }
}