$baseline: 33px;

.baseline {
  position: relative
}

.baseline:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(8,8,8,.2) 1px, transparent 1px);
  background-size: auto $baseline;
}

.baseline:active:after {
  background: none
}
