.categories-list {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9rem;
    text-align: center;
    padding-left: 0;

    li {
      display: inline-block;
      transition: transform .15s;
      transition-delay: .03s;

      &:hover {
        transform: translateY(-0.1em);

        a {
          text-underline-offset: 0.2em;
        }
      }
    }

    li + li {
      padding-left: 0.5rem;
    }

    a {
      text-underline-offset: 0.3em;
    }
}