@media (prefers-color-scheme: dark) {
    html,
    pre,
    p code,
    li code {
        background: #181a1b url('/images/noise.png') !important;
        color: #e8e6e3;
    }

    h1,
    .entry-title,
    .blog-archives a {
        color: #c9c5be;
    }

    .entry-title a {
        color: inherit !important;
    }

    a {
        @include link-colors(#7abbeb, $hover: #40acfe, $focus: #40acfe, $visited: #d683ed, $active: #6dc0fe);
    }

    header + nav {
        background: rgba(24, 26, 27, .95)/* #181a1b */ url('/images/noise.png');
    }

    [role="banner"] a,
    header + nav a,
    #blog-archives article a {
        color: #c9c5be !important; /* important needed because pseudo-classes (:hover) have specificity of 10 */
    }

    pre,
    p code,
    li code,
    header + nav,
    div.category-index article + article h1 {
        border-color: #3a3a3a;
    }

    .highlight {
        background-color: #0e1010;
        border-color: #2f2f2f !important;
    }

    .highlight code {
        background-color: #0e1010 !important;
    }

    [name="subscribe"] input {
        border-color: #2f2f2f;
        background-color: rgba(44,44,44,.2);
        color: white;

        &:focus {
            background-color: white;
            color: black;
        }
    }
}
