@media (prefers-color-scheme: dark) {
    :root {
        --text-primary: #e8e6e3;
    }

    html,
    pre,
    p code,
    li code {
        background: #181a1b !important;
        color: #e8e6e3;
    }

    h1,
    .entry-title,
    .blog-archives a {
        color: #c9c5be;
    }

    .entry-title a {
        color: inherit !important;
    }

    .entry-content {
        > h2 > a,
        > h3 > a {
            color: #c9c5be;
        }
    }

    a {
        color: #7abbeb;

        &:visited {
            color: #d683ed;
        }

        &:focus {
            color: #40acfe;
        }

        &:hover {
            color: #40acfe;
        }

        &:active {
            color: #6dc0fe;
        }
    }

    time {
        color: #aaa;
    }

    header nav {
        background: rgba(24, 26, 27, .95)/* #181a1b */;
    }

    body > header a,
    header nav a,
    #blog-archives article a {
        color: #c9c5be !important; /* important needed because pseudo-classes (:hover) have specificity of 10 */
    }

    body > header a:hover {
        color: #fff !important;
    }

    p code,
    li code {
        box-shadow: 0 0 1px 1px #444;
    }

    [title="Home"] {
        background: linear-gradient(90deg, #7abbeb, #d683ed) 0 0 / 100% 100%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .baseline:after {
        background: linear-gradient(to bottom, rgba(255,255,255,.2) 1px, transparent 1px);
        background-size: auto $baseline;
    }

    #blog-archives article {
        border-bottom: 1px dotted #444 !important;
    }

    pre,
    p code,
    li code,
    div.category-index article + article h1 {
        border-color: #3a3a3a;
    }

    .highlight {
        background-color: #0e1010;
        border-color: #2f2f2f !important;
    }

    .highlight code {
        background-color: #0e1010 !important;
    }

    // [name="subscribe"] input {
    //     border-color: #2f2f2f;
    //     background-color: rgba(44,44,44,.2);
    //     color: white;

    //     &:focus {
    //         background-color: white;
    //         color: black;
    //     }
    // }

    .about-intro picture {
        background-color: rgba(145,145,145,.1) !important;
    }

    .blog-index .intro {
        background: #111;
    }
}
