.footer-default {
    text-align: center;
    margin: 3rem 0;

    a {
        text-decoration: none;
    }

    svg {
        transition: transform .2s, opacity .2s;
        opacity: .9;
        height: 3rem;
    }

    :hover svg {
        transform: translateY(-3px) scale(1.2);
        opacity: 1;
    }

    :hover svg:hover {
        transform: translateY(-3px) scale(1.4);
    }
}

.mastodon-link:hover svg {
    transform: translateY(-3px);
}

.github-link svg {
    vertical-align: super;
}

.footer-social {
    max-width: 720px;
    margin: 3rem auto 4rem auto;
    display: flex;
    justify-content: center;

    @media (min-width: 480px) {
        gap: 1.25rem;
    }
}

.footer-thin {
    margin: 0 auto;
}

.footer-thin .footer-social {
    clear: both; // clears floating Blog Archives link
}
