.container > footer {
    text-align: center;
    margin: 3rem 0;

    a {
        text-decoration: none;

        &:hover svg {
            transform: scale(1.05);
            opacity: 1;
        }
    }

    svg {
        transition: transform 0.15s, opacity 0.15s;
        opacity: 0.95;
        height: 3.5rem;
    }
}

@media (min-width: 48rem) { /* 720p */
    svg {
        padding: 0 1.5rem;
    }
}
