.footer-default {
    text-align: center;
    margin: 3rem 0;

    a {
        text-decoration: none;

        &:nth-child(1) svg {
            transform: scale(.8);
        }

        &:nth-child(4) svg {
            vertical-align: super;
        }

        &:hover svg {
            transform: translateY(-3px) scale(1.2);
            opacity: 1;
        }

        &:nth-child(1):hover svg {
            transform: translateY(-3px);
        }
    }

    svg {
        transition: transform .2s, opacity .2s;
        opacity: .9;
        height: 3rem;
    }
}

.footer-social {
    max-width: 720px;
    margin: 3rem auto 5rem auto;
    display: flex;
    justify-content: center;

    @media (min-width: 480px) {
        gap: 1.5rem;
    }
}

.footer-thin {
    margin: 0 auto;
}

.footer-thin .footer-social {
    clear: both; // clears floating Blog Archives link
}
