.blog-index {
    .entry-title a,
    .entry-title a:hover,
    .entry-title a:visited {
        color: #555;
    }

    .intro {
        font-size: 1rem;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -35px;
        padding: .9rem;
        line-height: 1.75;
        text-align: center;
        font-style: normal;
        background: rgba(0,0,0,0.04);
        border-radius: .5rem;
    }

    article + article {
        margin-top: 6rem;
    }
}
