.blog-index {
    .entry-title a,
    .entry-title a:hover,
    .entry-title a:visited {
        color: #555;
    }

    .intro {
        font-size: 1rem;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -1.5rem;
        padding: .75rem;
        // line-height: 1.75;
        text-align: center;
        font-style: normal;
        background: #fff;
        border-radius: .5rem;
        letter-spacing: -0.03px; // hack to prevent fall to next line in Chromium

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    article + article {
        margin-top: 6rem;
    }
}
