[title="Home"] {
  font-weight: bold;
  letter-spacing: -1px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #555;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #40acfe, #f140fe) 0 0 / 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 6s linear alternate infinite;
  }
}

@keyframes move-bg {
  to {
    background-position: 100%;
  }
}