[title="Home"] {
  font-weight: bold;
  letter-spacing: -1px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #555;

  &:hover,
  &:active {
    background: linear-gradient(90deg, rgb(0, 151, 255),
                                       rgb(119, 44, 196),
                                       rgb(212, 32, 42)) 0 0 / 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 6s linear alternate infinite;
  }
}

@keyframes move-bg {
  to {
    background-position: 100%;
  }
}
