.about-intro {
    text-align: justify;

    picture {
        float: left;
        transform: scale(80%);
        width: 214.5px;
        background-color: rgba(0,0,0,0.04);
        border-radius: 50%;
        shape-outside: circle();
        margin-left: -1.3rem;
        margin-right: -0.7rem;
    }

    img {
        border-radius: 0 0 0 50%;
    }

    + h2 {
        margin-top: 5rem;
        margin-bottom: 0.25rem;
    }
}

@media (min-width: 396px) {
    .about-intro picture {
        margin: 0;
        margin-right: 1rem;
        margin-top: 0.1rem;
        transform: none;
    }
}

// @media (min-width: 500px) {
//     .about-intro picture + p {
//         margin-left: 8rem;
//     }
// }

.about-intro ~ h2:last-of-type,
.about-intro ~ h2:last-of-type + p {
    text-align: center;
}