.about-intro {
    picture {
        float: left;
        margin-right: 1rem;
        width: 210px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.04);
    }

    + h2 {
        margin-top: 6rem;
    }
}

.about-intro ~ h2:last-of-type,
.about-intro ~ h2:last-of-type + p {
    text-align: center;
}