.category-index {
    article {
        position: relative;
    }

    time {
        position: absolute;
        left: 0;
        top: .3rem;
        pointer-events: none;
    }

    h1 {
        margin: 0;
        margin-left: 4rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    article + article h1 {
        margin-top: 1rem;
    }

    .year {
        visibility: hidden;
    }
}