@import "categories-list";

.category-index {
    article {
        position: relative;
    }

    time {
        position: absolute;
        left: 0;
        top: .5rem;
        text-transform: uppercase;
    }

    h1, h2 {
        font-weight: normal;
    }

    h1 {
        margin: 0;
        margin-left: 4rem;
        color: #333;
        font-size: 1.25rem;
    }

    h2 {
        color: #aaa;
    }

    h1 a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    article h1 {
        padding-top: .8rem;
        padding-bottom: .8rem;
    }

    article + article time {
        top: 1.4rem;
    }

    h2 + article h1 {
        padding-top: 0;
    }

    .year {
        display: none;
    }
}