.projects {
  section {
    + * {
      margin-top: 3rem;
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
  }

  li {
    margin-top: 0;
  }

  li + li {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .projects {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    section {
      width: 48%;

      + * {
        margin-top: 0;
      }
    }
  }
}
