.projects {
  section + section {
    margin-top: 3rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
  }

  li {
    margin-top: 0;
  }

  li + li {
    margin-left: 1rem;
  }
}

.project a {
  text-decoration: none;
}

.project a,
.project-description {
  font-size: 84%;
}

@media (min-width: 40em) {
  .projects {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    section {
      width: 48%;

      + section {
        margin-top: 0;
      }
    }
  }
}
