/* To be used just as a reference for now, as IE11 and some mobile browsers don't support this.
:root {
    --bg: #f6f6f6;
    --primary: #333;
    --border: #555;
}
*/

$border-color: #555;

@import "variables";
// $blockquote: $type-border !default;
// $sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
// $serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
// $mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
// $heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
// $header-title-font-family: $heading-font-family !default;
// $header-subtitle-font-family: $heading-font-family !default;

html {
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #f6f6f6 url('/images/noise.png');
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    color: #333;
    border-top: 3px solid $border-color;
}

time,
.projects li {
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 85%;
    color: #aaa;
}

body > div {
    max-width: 768px;
    margin: 0 auto;
}

#{headings()} {
    margin-top: 1.6em;
}

header {
    text-align: center;
}

header a {
    color: inherit;
    text-decoration: none;
}

header + p {
    text-align: center;
}

p {
    line-height: 1.5;
}

nav ul {
    padding-left: 0;
}

li + li {
    margin-top: 0.5rem;
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid rgba(170, 170, 170, 0.5);
}

hr {
    border: 0;
    border-top: 1px dotted rgba(170, 170, 170, 0.5);
    margin: 1.5rem;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

.basic-alignment {
    margin-top: 0.5rem;

    &.left {
        float: left;
        margin-right: 0.5rem;
    }

    &.right {
        float: right;
        margin-left: 0.5rem;
    }
}

.link-btn {
    padding: .8rem 1rem;
    margin: 3rem 0;
}

.blog-index .entry-title a,
.blog-index .entry-title a:hover,
.blog-index .entry-title a:visited {
    color: #555;
}

.blog-index .intro {
    font-size: 0.89rem;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
    text-align: justify;
}

@media screen and (min-width: 48rem) { /* 720p */
    html {
        font-size: 115%;
    }
}

@media screen and (min-width: 100rem) { /* 1600p */
    body > div {
        max-width: 48rem;
    }
}

@import "compass/typography/links/link-colors";
a {
    @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}

@import "banner";
@import "navigation";
@import "article";
@import "code";
@import "footer";
@import "dark";
