@import "root";
@import "variables";
$sans: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; // -apple-system, BlinkMacSystemFont, "Segoe UI"
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
// $mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #f6f6f6;
    font-family: $serif;
    color: #333;
    scroll-behavior: smooth;
    // line-height: 1.75rem;
    line-height: 1.5;
}

@media (min-width: 640px) {
    html {
        font-size: 22px;
    }
}

body {
    margin: 0 1em;
    // font-size: 1.125rem;
}

time,
.projects li,
.featured-article {
    font-family: $sans;
    font-size: 0.75rem;
    color: #545454;
}

.featured-article {
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
}

main,
.footer-thin {
    max-width: 640px;
    margin: 0 auto;
}

// #{headings()} {
    // margin-top: 1.6em;
    // scroll-margin-top: 1.6em;
    // font-family: $serif;
// }

h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

/* for h2, I want font-size to = 33px.
 * This is achieved by font-size: 1.5rem;
 * because 1.5rem is the same as the baseline,
 * which, again, is 33px.
 * Line height is 1.5 and therefore the expected
 * total height is 33 * 1.5 = 49.5px (2.75rem).
 * When it's two lines, the expected total height
 * is 33 * 3 = 99px (4.5rem).
 */
h2 {
    font-size: 1.5rem;
    // max-height: 100cqh;
    margin-top: 3.25rem;
    margin-bottom: 2rem;
}

h2 code {
    line-height: 2rem; /* 2rem = 44px (4/3 of the baseline). Fixes an idiosincracy of the monospace font, since I had an issue with an extra 1px when dealing with h2 that had <code> in it */
    font-size: inherit;
}


header {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Baseline for default links */
/* https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/#css-reset-additions */
a:not([class]) {
    /* Relatively sized thickness and offset */
    // text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
}

nav ul {
    padding-left: 0;
}

li + li {
    margin-top: 0.5rem;
}

blockquote {
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.5rem; /* 4/3 of the font size */

    padding-left: 1rem;
    border-left: 4px solid rgba(170, 170, 170, 0.5);
    margin: 3rem 0;
}

hr {
    border: 0;
    border-top: 1px dotted rgba(170, 170, 170, 0.5);
    margin: 1.5rem;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

@media (min-width: 48rem) {
    // html {
    //     font-size: 115%;
    // }

    $entry-title-width: 95vw;

    article header { position: relative }
    .entry-title {
        width: $entry-title-width;
        position: relative;
        left: calc(50% - #{$entry-title-width} / 2);
    }
}

@media (min-width: 60rem) {
    .entry-title {
        width: 50rem;
        left: calc(50% - 50rem / 2);
    }
}

// @media (min-width: 115rem) {
//     html {
//         font-size: 130%;
//     }
// }

@import "compass/typography/links/link-colors";
a {
    @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}

/* TODO temporary. Remember to also remove tabindex=-1 from post.html */
article {
    outline: none;
}

@import "utils";
@import "baseline";
@import "banner";
@import "logo";
@import "navigation";
@import "index";
@import "article";
@import "syntax-highlighting";
@import "code";
@import "footer";
@import "dark";