@import "base/utilities";
@import "base/solarized";
@import "base/theme";
@import "base/typography";
@import "base/layout";

// TODO: in the future you may refactor this to avoid including unused CSS
@import "posts/2019-05-05-pure-css-onclick-context-menu";

// elm-new article
.entry-content table th {
  padding: 0 10px;
}

.entry-content table td {
  text-align: center;
}

.entry-content table td:first-of-type {
  text-align: left;
  font-size: 1rem;
}
