@import "partials/header";
@import "partials/navigation";
@import "partials/blog";
@import "partials/sharing";
@import "partials/syntax";
@import "partials/about";
@import "partials/archive";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/portfolio";
@import "partials/project";
// TODO maybe worth rethinking at some point (just an import partials/* should be fine)

.lets-talk {
  text-align: center;
  margin-bottom: 4rem;

  h1 {
    font-size: 2em;
    margin: auto;
    margin-top: 1em;
    display: block;
  }

  strong {
    display: block;
  }
}
