body {
  background:#000;
  font-family: "Andale Mono", AndaleMono, monospace;
}

table, tbody, tr, td {
  border:1px solid black;
  border-collapse: collapse;
}

td {
  background: #111;
  width: 8px;
  height: 8px;
  cursor: crosshair;
}

input, button {
  background: #333;
  border: 1px solid #000;
  color: #afa;
  padding: 2px 6px;
  width:80px;
}

input {
  direction: rtl;
}

button {
  cursor: pointer;
}

button:disabled {
  background: #111;
  color: #8a8;
  cursor: default;
}

button:active,
/* input:hover, */
button:hover:not(:disabled) {
  background: #444;
  color: #bfb;
}
