---
layout: page
title: Open Source Projects
comments: false
footer: false
sidebar: false
---

<section class="projects">
{% for proj in site.data.projects %}
  {% capture title %} {{proj.title}} {% endcapture %}
  {% capture url %} {{proj.url}} {% endcapture %}
  {% capture description %} {{proj.description}} {% endcapture %}

  {% include project.html %}
{% endfor %}
</section>

<section class="contributions">
<h1>Notable contributions on GitHub</h1>
{% for contrib in site.data.contributions %}
  {% if contrib.published %}
    {% capture title %} {{contrib.title}} {% endcapture %}
    {% capture url %} {{contrib.url}} {% endcapture %}
    {% capture description %} {{contrib.description}} {% endcapture %}

    {% include contribution.html %}
  {% endif %}
{% endfor %}
</section>
