---
layout: page
title: Open Source Projects
description: "A selection of cool projects I've worked on."
footer: false
---

<p class="text-center">A curated collection of open source projects I built over the years.</p>

<section class="projects">
{% for proj in site.data.projects %}
  {% capture title %} {{proj.title}} {% endcapture %}
  {% capture url %} {{proj.url}} {% endcapture %}
  {% capture description %} {{proj.description}} {% endcapture %}

  {% include project.html %}
{% endfor %}
  <a href="/archives/" class="link-btn basic-alignment left">&larr; Blog Archives</a>
  <a href="/about/" class="link-btn basic-alignment right">About &rarr;</a>
</section>
