[submodule "source/demo/html5editor"]
  path = source/demo/html5editor
  url = https://github.com/simonewebdesign/html5editor.git
  branch = prod
[submodule "source/games/pong"]
  path = source/games/pong
  url = https://github.com/dudeOMG/pong.git
  branch = prod
[submodule "source/demo/elm"]
  path = source/demo/elm
  url = https://github.com/simonewebdesign/elm-double-folding-pattern.git
  branch = prod
[submodule "source/games/game-of-life"]
  path = source/games/game-of-life
  url = https://github.com/simonewebdesign/game-of-life.git
  branch = prod
