---
layout: page
footer: false
comments: false
---

<div id="blog-archives" class="category-index">
{% for post in site.categories[page.category] %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2>
{% endunless %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}
  <a href="/archives" class="link-btn basic-alignment left">&larr; Blog Archives</a>
  <a href="/about" class="link-btn basic-alignment right">About &rarr;</a>
</div>
