{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body{% if page.body_id %} id="{{ page.body_id }}"{% endif %}>
  <header>
    <h1 role="banner">
      <a href="{{ root_url }}/">{{ site.title }}</a>
    </h1>
  </header>

  <nav>{% include navigation.html %}</nav>

  <main>
    {{ content | expand_urls: root_url }}
  </main>

{% unless page.footer == false %}
  <footer>{% include footer.html %}</footer>
  {% include after_footer.html %}
{% endunless %}

  <script>
    if (!navigator.serviceWorker.controller) {
      navigator.serviceWorker.register("/sw.js")
    }
  </script>
</body>
</html>
