{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body{% if page.body_id %} id="{{ page.body_id }}"{% endif %}>
  <div class="container">
    <header class="clearfix">
      <div class="logo" role="banner">
        <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
      </div>
      <nav role="navigation">{% include navigation.html %}</nav>
    </header>
    <div class="content">
      {{ content | expand_urls: root_url }}
    </div>

{% unless page.footer == false %}
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
{% endunless %}
  </div>
</body>
</html>
