<ul class="social-links">
  <li><a target="_blank" rel="nofollow" href="https://github.com/simonewebdesign"><i class="fa fa-github" aria-hidden="true"></i><span>GitHub</span></a>
  <li><a target="_blank" rel="nofollow" href="https://twitter.com/simonewebdesign"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
  <li><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/simonewebdesign"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
  <li><a target="_blank" rel="nofollow" href="http://stackoverflow.com/users/801544/simone"><i class="fa fa-stack-overflow" aria-hidden="true"></i><span>StackOverflow</span></a>
</ul>
