<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/categories/ruby">Ruby</a></li>
  <li><a href="{{ root_url }}/blog/categories/rails">Rails</a></li>
  <li><a href="{{ root_url }}/blog/categories/javascript">JavaScript</a></li>
  <li><a href="{{ root_url }}/blog/categories/bash">Bash</a></li>
  <li><a href="{{ root_url }}/blog/categories/css">CSS</a></li>
  <li><a href="{{ root_url }}/blog/categories/git">Git</a></li>
  <li><a href="{{ root_url }}/blog/categories/php">PHP</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
</ul>
