---
layout: post
title: A pure CSS onclick context menu
description: How to build a context menu using pure HTML and CSS, no JS, cross-browser.
date: 2019-05-13
updated: 2023-03-31
comments: true
categories:
  - JavaScript
  - CSS
article_cta: false
---

<p>
  Context menus are one of those very useful UI widgets that still haven't reached the HTML spec.
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contextmenu" rel="external">There have been attempts</a>,
  but for now everyone tends to make their own custom implementation.
</p>

<p>Especially with the advent of React, the tendency is to write a custom menu component that uses JavaScript to open/close itself, perhaps by using an invisible overlay to detect clicks outside the menu and close it accordingly. This works fine in practice, however it doesn't have to be so complicated. If you need a simple <strong>dropdown menu</strong> that:</p>

<ul>
<li>Has no dependencies;
<li>Can be triggered with a click/tap on any element;
<li>Is fully cross-browser;
<li>Doesn't need JavaScript!
</ul>

<p>Then look no further. It's much simpler than you think!</p>

<!--more-->

<h2>An example</h2>

Try clicking this button: <button>☰</button><nav class="menu">
        <ul>
            <li>
                <button onclick="alert('Hello there!')">Display Greeting</button>
            </li>
            <li>
                <button onclick="print()">Print This Page</button>
            </li>
        </ul>
    </nav>

<p>This is done in <strong>pure HTML and CSS</strong>; the JavaScript is there just to add functionality. Source code below.</p>

<h3>The HTML</h3>

{% highlight html %}
{% raw %}
<button>☰</button>
<nav class="menu">
  <ul>
    <li>
      <button onclick="alert('Hello there!')">
        Display Greeting
      </button>
    </li>
    <li>
      <button onclick="print()">
        Print This Page
      </button>
    </li>
  </ul>
</nav>
{% endraw %}
{% endhighlight %}

<h3>The CSS</h3>

{% highlight css %}
.menu {
    visibility: hidden;
}

button + .menu:active,
button:focus + .menu {
    visibility: visible;
}
{% endhighlight %}

<p>That's the trick: we hide the menu in CSS initially, then show it when the button gets focused <em>and</em> while we're clicking on the menu itself. This is necessary so that the click actually gets registered. That's it! <strong>No JS trickery involved.</strong></p>

<p>You can attach event listeners to the menu items, e.g. using <a href=/onclick-vs-addeventlistener/><code>onclick</code> or <code>document.addEventListener</code></a> and they'll work as usual. You may also just use <code>&lt;a&gt;</code> tags instead of buttons, depending on your use case.</a></p>

<p>Naturally the menu can be opened only by elements that can receive focus, such as buttons and anchors. So what about other non-interactive elements? Can we make them focusable too? <strong>The answer is yes!</strong></p>

<h2>A more complicated example</h2>

<p>We want to <strong>display a context menu</strong> when clicking on the following image: <figure class="doge-demo" tabindex="-1">
  <picture class="doge">
    <source type="image/webp" srcset="/images/doge.webp">
    <img src="/images/doge.png" loading="lazy" width="300" height="300" alt="doge meme" title="Click me to open the menu..." />
  </picture>
  <figcaption>wow, this image is clickable!</figcaption>
  <nav class="menu">
    <ul>
      <li>
        <button onclick="alert('Button clicked!')">Open Image in New Tab</button>
      </li>
      <li>
        <button onclick="console.log(1)">Save Image As...</button>
      </li>
      <li>
        <button>Copy Image Address</button>
      </li>
    </ul>
  </nav>
</figure>

<h3>The HTML</h3>

{% highlight html %}
{% raw %}
<figure tabindex="-1">
  <img src="/images/doge.png" />

  <nav class="menu">
    <ul>
      <li>
        <button>Open Image in New Tab</button>
      </li>
      <li>
        <button>Save Image As...</button>
      </li>
      <li>
        <button>Copy Image Address</button>
      </li>
    </ul>
  </nav>
</figure>
{% endraw %}
{% endhighlight %}

<p>The trick here was to add <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex" rel="external"><code>tabindex</code></a>. This makes the element focusable, so that it can open the menu on click. Note that if the clickable element is a <code>&lt;button&gt;</code> or other <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Interactive_content" rel="external">interactive content</a> (i.e. any focusable element), then you don't even need this!</p>

<p>I've used a <code>&lt;figure&gt;</code>, but you can use any element you like. Just add <code>tabindex="-1"</code> to make it focusable, if it isn't already. You can place the menu anywhere you want in the HTML, as long as you're able to target it with a CSS selector. Just try not to put a button in a button as that's invalid HTML, although technically it will still work.</p>

<h3>The CSS</h3>

{% highlight css %}
.menu {
    visibility: hidden;
}

figure:active .menu,
figure:focus .menu {
    visibility: visible;
}
{% endhighlight %}

<h3>How do I make the menu appear next to the mouse cursor?</h3>

<p>You'll need JavaScript, but it's entirely up to you whether you want to do this. Alternatively you could add <code>position: absolute</code> to the menu and <strong>just make it appear below (or next to) the element you clicked</strong> — no need for JS in this case! Anyway, this did the trick for me:</p>

{% highlight javascript %}
const img = document.querySelector('.doge');
const menu = document.querySelector('.menu');

img.addEventListener('mousedown', ({ offsetX, offsetY }) => {
    menu.style.top = offsetY + 'px';
    menu.style.left = offsetX + 'px';
});
{% endhighlight %}

<h3>I want the menu to close when I click the button again!</h3>

<p>If that's the case, you'll probably be better off using the old <a href="https://css-tricks.com/the-checkbox-hack/" rel="external">checkbox hack</a>.</p>

<h3>A note about accessibility</h3>

<p>Accessibility isn't the main focus of this article, but an important topic nonetheless. Menu items <strong>should be navigatable with a keyboard</strong>: this requires JS, but it's not hard to achieve. The <abbr title="World Wide Web Consortium">W3C</abbr> has done a lot of work around accessibility and there's plenty of examples you can refer to on their site: for instance, I think the <a href="https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/menu-button/menu-button-links.html" rel="external">menu button example</a> is particularly relevant.</p>

<h3>What about browser support?</h3>

<p>It may not work in some very old browsers, so make sure to test it in the browsers you need to support. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Clicking_and_focus" rel="external">This MDN page</a> has some info about what happens to the focus of a button when being clicked/tapped on different platforms. I did some tests myself and it seems to work well everywhere, including IE and mobile browsers.</p>

<p><b>Update:</b> this blog post received a lot of attention and a few folks reached out to me about an issue, specifically with Safari and Firefox, on both iOS and macOS: the button won't focus. No worries though, it only affects buttons; other tags will work just fine. You may consider using <code>&lt;span tabindex=0&gt;</code> — the semantic meaning is lost entirely here, so if you really want to use a button, you can always focus it programmatically via JS, but <em>only</em> on Apple devices — for example:</p>

{% highlight javascript %}
if (
  /apple/i.test(navigator.vendor) ||
  /Mac.*Firefox/.test(navigator.userAgent)
) {
  const button = document.querySelector('button');

  button.addEventListener('click', event => {
    event.target.focus();
  });
}
{% endhighlight %}

<p>Another issue you may find specific to Apple is that the menu won't close when tapping outside of it. There's an easy fix: simply add <code>tabindex="-1"</code> to the container or the body tag.</p>

<hr>

<p>And that's it! I hope you found this useful. If you spot any issues, please do let me know!</p>

<script>
{% include js/2019-05-05-pure-css-onclick-context-menu.js %}
</script>

{% capture scss_file %}
  {% include scss/2019-05-13-pure-css-onclick-context-menu.scss %}
{% endcapture %}
<style>
{{ scss_file | scssify }}
</style>
