body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}

.social-links {
  list-style: none;
  padding-left: 0;
  margin: auto;
  text-align: center;
}
  .social-links li {
    display: inline;
    margin-right: 1.5em;
  }
    .social-links a {}
      .social-links i:hover {
        background-color: #222;
      }
      .social-links i:active {
        background-color: #111;
      }
      .social-links i:focus {
        background-color: #111;
      }
      .social-links i {
        width: 1em;
        height: 1em;
        color: #f6f6f6;
        background-color: #333;
        padding: .3em;
        font-size: 3.6em;
        border-radius: 4em;
        text-align: center;
      }
      .social-links span { display: none; }
