.container > footer {
    text-align: center;
    margin-top: 3rem;

    a {
        text-decoration: none;

        &:hover svg {
            transform: scale(1.05);
        }
    }

    svg {
        transition: transform 0.15s;
        height: 3.5rem;
        padding: 0 1.5rem;
    }
}
