header {
  margin: 3rem 0;


  .logo {
    float: left;
  }

  h1 {
    display: inline-block;
    margin: 0;

    a, a:visited, a:hover {
      text-decoration: none;
      color: #555;

      // text-shadow: 1px 2px 3px #DDdddd,
      //              0 0 0 black,
      //              -1px 1px 0 #DDdddd,
      //              1px 1px 0 white;

      // color: rgba(55,55,55, .6) !important;
    }
  }
}
