<ul class="categories-list">
  <li><a href="/categories/javascript/">JS</a>
  <li><a href="/categories/ruby/">Ruby</a>
  <li><a href="/categories/bash/">Bash</a>
  <li><a href="/categories/git/">Git</a>
  <li><a href="/categories/css/">CSS</a>
  <li><a href="/categories/elixir/">Elixir</a>
  <li><a href="/categories/swift/">Swift</a>
  <li><a href="/categories/php/">PHP</a>
  <li><a href="/categories/elm/">Elm</a>
  <li><a href="/categories/clojure/">Clojure</a>
  <li><a href="/categories/rust/">Rust</a>
</ul>
