{% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if page.comments != false %}
<div id="disqus_thread" aria-live="polite"></div>
<script>
var disqus_config = function () {
this.page.url = 'https://www.simonewebdesign.it/';
this.page.identifier = '{{ site.url }}{{ page.url }}';
};
var disqusObserver = new IntersectionObserver(function(entries) {
    if(entries[0].isIntersecting) {
    (function() {
        disqusObserver.disconnect();
        var d = document, s = d.createElement('script');
        s.src = 'https://simonewebdesign.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    }
});
disqusObserver.observe(document.querySelector('#disqus_thread'));
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
