<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="{{ root_url }}/favicon.png">
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/style.css" media="screen">
  {% assign uri = page.url | remove:'index.html' | strip_slash %}

  {% if uri == '/projects' or uri == '/archives' or uri == '/about' %}
  <link rel="stylesheet" href="{{ root_url }}/stylesheets{{ uri }}.css" media="screen">
  {% endif %}

  {% if uri contains '/categories' %}
  <link rel="stylesheet" href="{{ root_url }}/stylesheets/categories.css" media="screen">
  {% endif %}

  <link rel="alternate" href="{{ site.subscribe_rss }}" title="{{site.title}}" type="application/atom+xml">
</head>
