<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link href="{{ canonical }}" rel=canonical>
  <link href="/manifest.json" rel=manifest>
  <link href="{{ root_url }}/favicon.png" rel=icon>
  <link href="{{ root_url }}/stylesheets/style.css" rel=stylesheet media=screen>
  {% assign uri = page.url | remove:'index.html' | remove:'/' %}

  {% if uri == 'projects' or uri == 'archives' or uri == 'about' or uri contains 'categories' %}
  <link href="{{ root_url }}/stylesheets/{{ uri }}.css" rel=stylesheet media=screen>
  {% endif %}

  <link href="{{ site.subscribe_rss }}" rel=alternate title="{{site.title}}" type="application/atom+xml">
</head>
