<form name="subscribe" action="/sub" method="POST">
    <label for="email">Get the latest articles in your inbox</label>
    <input id="email" name="email" type="email" placeholder="your@email.com" required>
    <button>Submit</button>
    <!-- <small></small> -->
</form>
<script>
    var form = document.querySelector('[name="subscribe"]')
    var btn = document.querySelector('[name="subscribe"] > button')
    var input = document.querySelector('#email')

    form.addEventListener('submit', function (e) {
        if (!form.checkValidity()) return;
        e.preventDefault()

        if (!('fetch' in window)) {
            form.submit()
        }

        fetch('/sub', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: "email="+encodeURIComponent(e.currentTarget[0].value)
        })

        var title = document.createElement('h2')
        title.innerText = "Thank you!"

        var par = document.createElement('p')
        par.innerText = "You will receive an email when a new article gets published."

        title.style.textAlign = par.style.textAlign = 'center'
        title.style.margin = '5.5rem 0 1.2rem 0'
        par.style.margin = '0 0 7.2rem 0'

        form.insertAdjacentElement('afterend', title)
        title.insertAdjacentElement('afterend', par)
        form.remove()
    })
</script>