---
layout: default
sidebar: false
footer: false
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.posts limit: 7 %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <a href="/archives" class="link-btn basic-alignment right">Blog Archives &rarr;</a>
</div>

{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
