---
layout: default
footer: false
introduction: true
---

<div class="blog-index">
  {% assign index = true %}

  {% if page.introduction %}
  <blockquote class="intro">
    Hi — I’m Simone Vittori, a software developer based in London.<br>
    I have experience in web development with a variety of languages,
    such as <a href="/categories/ruby/">Ruby</a>, <a href="/categories/rust/">Rust</a> and <a href="/categories/elixir/">Elixir</a>. I’m passionate about good software design
    and I use this blog to write about anything programming related that I find
    interesting. You can subscribe to the <a href="atom.xml">feed</a> or follow my activity on <a href="https://github.com/simonewebdesign" rel="external nofollow">GitHub</a>. Happy reading!
  </blockquote>
  {% endif %}

  {% for post in site.posts limit: site.homepage_posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <a href="/archives/" class="link-btn basic-alignment right">Blog Archives &rarr;</a>
</div>
